<style>
    .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
<div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid" style="margin-top: 30px;">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">DANH SÁCH BÌNH LUẬN:</h1>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Danh sách:</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                      <th>STT</th>
                                      <th>Người dùng</th>
                                      <th>Nội dung</th>
                                      <th>Bài viết</th>
                                      <th>Thời gian bình luận</th>
                                      <th>Trả lời</th>
                                      <th>Ẩn/Hiện</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% index = 1 %>
                                    <% @comments.each do |comment| %>
                                        <tr>
                                            <td><%= index %></td>
                                            <% index += 1 %>
                                            <td><%= Account.find(comment.user).username %></td>
                                            <td><%== comment.content %></td>
                                            <td><%= Post.find(comment.idpost).title %></td>
                                            <td><%= comment.datecmt.strftime("%H:%M %d-%m-%Y") %></td>
                                            <td>
                                                <a href="/blog/<%= comment.idpost %>" name='modify' class='btn btn-primary'><i class='fas fa-reply'></i></a>
                                            </td>
                                            <form action="" method='post'>
                                                    <td>
                                                        <label class="switch">
                                                            <input type="checkbox" checked name="show"  onchange=this.form.submit()>
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </td>
                                            </form>
                                        </tr>
                                    <% end %>
                                  </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>