<style>
    .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

        <div class="row"  style="margin-top: 20px;">
        <h1 class="text-center">Quản lý người dùng</h1><br>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                
                    <table class="table table-striped">
                        <thead>
                            <tr style="background:black;color:white; text-align: center;">
                                <td><b>ID</b></td>
                                <td><b>Tên đăng nhập</b></td>
                                <td><b>Tên người dùng</b></td>
                                <td><b>Email</b></td>
                                <td><b>Quyền</b></td>
                                <td class="text-center"><b>Hoạt động</b></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            
                                <% @accounts.each_with_index do |account, index| %>
                                <form action="/admin/user/active/<%= account.id %>" method="post">
                                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                                    <tr>
                                        <td><input type="hidden" name="id" value="<%= account.id %>"><%= index + 1 %></td>
                                        <td><%= account.username %></td>
                                        <td><%= account.name %></td>
                                        <td><%= account.email %></td>
                                        <td>
                                            <% if account.role == 1 %>
                                                Quản trị hệ thong
                                            <% elsif account.role == 3 %>
                                                Quản lý khách sạn
                                            <% else %>
                                                Người dùng
                                            <% end %>
                                        </td>
                                        <% if account.isActive == 0 %>
                                            <td class="text-center">
                                                <label class="switch">
                                                    <input type="checkbox" checked name="show"  onchange=this.form.submit()>
                                                    <span class="slider round"></span>
                                                </label>
                                            </td>
                                        <% else %>
                                            <td class="text-center">
                                                <label class="switch">
                                                    <input type="checkbox" name="show" onchange=this.form.submit()>
                                                    <span class="slider round"></span>
                                                </label>
                                            </td>
                                        <% end %>
                                            
                                        <td><a name="delete" class="btn btn-danger" href="" ><i class="fas fa-trash-alt"></i></a></td>
                                    </tr>
                                </form>
                                <% end %>            
                        </tbody>
                    </table>
                    
                
            </div>
        </div>