<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap">
	<link rel="stylesheet" type="text/css" href="../Css/account.css">
	<title>MyTour.vn</title>
</head>
<body>
	<div class="container-fuild ctnf_acc">
		<div class="container ctn_acc cont">
			<h1><b>HỒ SƠ CÁ NHÂN</b></h1>
			<h3 style='padding-bottom:20px;'>Hello <%= session[:user]['username'] %></h3>
			<script>
				function readURL(input) {
			        if (input.files && input.files[0]) {
			            var reader = new FileReader();

			            reader.onload = function (e) {
			                $('.image-avatar').attr('src', e.target.result);
			            }

			            reader.readAsDataURL(input.files[0]);
			        }
			    }
			</script>
			<form action="/profile/update" method="post" enctype="multipart/form-data">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<div class="row">
					<div class="col-md-5 col-xs-5">
							<img class="image-avatar" src="<%= session[:user]['image'] %>" style="width: 300px;height: 300px;border-radius: 50%;" align="center"><br>
							<h5>Cập nhật Avatar</h5>
							<input type="file" name="image" id="image" onchange="readURL(this);" style="display: none;" accept="image/*">
							<label for="image"  style="margin-top: 4px; font-size: 40px; cursor: pointer;">
                                    <i class="fas fa-camera"></i>
                            </label>
					</div>
	            <div class="col-md-6 col-xs-6 " style="background-color: #f9f9f9;border-radius: 5px;padding: 20px;text-align: left;">
	                	<div class="form-group">
	                        <label for="username">Họ và tên:</label>
	                        <input type="text" name="name" id="" class="form-control" value="<%= session[:user]['name'] %>">
	                    </div>
	                    <div class="form-group">
	                        <label for="password">Mật khẩu: ********</label><br>
	                        <a href="" style="text-decoration:none; ">Thay đổi mật khẩu <i class="fas fa-arrow-circle-right"></i></a>
	                    </div>
	                    <div class="form-group">
	                        <label for="email">Email:</label>
	                        <input type="email" name="email" class="form-control" value="<%= session[:user]['email'] %>">
	                    </div>
	                    <div class="form-group">
	                        <label for="phone">Số điện thoại:</label>
	                        <input type="text" name="phone" class="form-control" value="<%= session[:user]['phone'] %>">
	                    </div>
	                    <div class="form-group">
	                        <label for="address">Địa chỉ:</label>
	                        <textarea cols="30" rows="4" class="form-control" name="address" placeholder="Địa chỉ"><%= session[:user]['address'] %></textarea>
	                    </div>
	                    <button type="submit" class="btn btn-primary" style="float: right;">Cập nhật</button>
	                   	<label for="username" class="text-danger"></label>
	            	</div>
	        	</div>
	        </form>
		</div>
	</div>
</body>
</html>