<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" type="text/css" href="/Css/detailroom.css">
    <title>MyTour.vn</title>
    <style>
        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1.17rem
        }
    </style>
</head>
<body>
       <div class="container-fuild"><!--Chạy Slide ảnh-->
            <div style="width: 100%;">
                <div class="container-fuild" style="width: 100%;left: 0;right: 0">
                 <img src='<%= @room.image %>'style='width: 100%; height: 650px;' class='contact-img'>";
                    <div class='carousel-caption detailroom-caption-edit'>
                        <h1 class='titleroom'><b><%= @room.nameroom %></b></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fuild ctnf">
          <div class="container">
            <h1><b>GIỚI THIỆU</b></h1><hr>
                <h2 style='color:#0066FF;'><b><i class='fas fa-edit'></i> Được đăng tải bởi: <%= @hotel.name %></b></h2>
            <h2 style="padding-top: 20px;padding-bottom: 20px;"><i class="fas fa-images"></i><b> HÌNH ẢNH</b></h2>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <% @images.each_with_index do |image, index| %>
                        <div class='mySlides'>
                            <div class='numbertext'><%= index + 1%>/<%= @images.size %></div>
                            <img src='<%= image.images %>' style='width:100%;height:360px;' class='detailroom-main-img'>
                        </div>
                    <% end %>
                    <a class="prev" style="text-decoration: none;" onclick="plusSlides(-1)">❮</a>
                    <a class="next" style="text-decoration: none;" onclick="plusSlides(1)">❯</a>
                </div> 
                <div class="col-md-6 col-xs-6">
                        <div class="row detailroom-mini-img">
                            <% @images.each_with_index do |image, index| %>
                                <div class='column'>
                                    <img class='demo cursor' src='/<%= image.images %>' style='width:100%;height:120px;' onclick='currentSlide(<%= index + 1 %>)' >
                                </div>
                            <% end %>
                        </div>
                </div>
            </div>
            <div class="row" style="padding-top: 50px;">
               <div class="col-md-6 col-xs-6">
                    <h2><b>THÔNG TIN DỊCH VỤ</b></h2><hr>
                    <h3><i class='fas fa-tag'></i> Phòng: <%= @type.name %></h3><br>             
                    <h3><i class='fas fa-user-alt'></i> X <%= @room.maximun %> người</h3><br>
                    <h3><i class='fas fa-expand-alt'></i> <%= @room.area %> m<sup>2</sup></h3><br>
                    <h3><i class='far fa-eye'></i> <%= @room.direction %></h3><br>
                    <h3>
                    <% if (@room.status <=> '0') == 0 %>
                        Đã hết phòng. Quý khách vui lòng chọn loại phòng khác hoặc quay lại sau. Xin chân thành cảm ơn và cáo lỗi!
                    <% else %>
                        Đảm bảo còn <%= @room.status %> phòng!
                    <% end %>
                    
                    </h3><br>
               </div>
               <div class="col-md-6 col-xs-6">
                   <h2><b>CHÍNH SÁCH ƯU ĐÃI</b></h2><hr>
                   <h3><i class='fas fa-concierge-bell'></i>
                        <% if (@room.breakfast <=> '0') == 0 %>
                            Không bao gồm bữa sáng
                        <% else %>
                            Bao gồm bữa sáng
                        <% end %>
                    </h3><br>
                    <h3><i class='fas fa-times'></i> 
                        <% if (@room.policy <=> '0') == 0 %>
                            Không hoàn hủy
                        <% else %>
                            Có hoàn hủy
                        <% end %>
                    </h3><br>
                    <h3><i class='fas fa-gem'></i>
                        <% if (@room.discount <= 100) == 0 %>
                            Giảm <%= @room.discount %> %
                        <% else %>
                            Giảm <%= @room.discount %> VNĐ
                        <% end %>    
                    tiền phòng</h3><br>
                        <div class='button_set'><h3><del><%= @room.price %> đ</del></h3>
                        <h1 style='color:green;'><b><%= @room.final_price %> đ</b></h1>
                        <a href='/booking/<%= @room.id %>' class='btn btn-primary px-4' style='font-size: 16px;'>ĐẶT NGAY</a>
                              </div>
               </div>
            </div>
                <h2 style="padding-top: 20px;"><b>THÔNG TIN CHI TIẾT</b></h2><hr>
            <div class="row" style="padding-top: 20px;padding-left: 30px;">
               <h3><%= raw(@room.description) %></h3>
            </div>
          </div>
        </div>
    <script type="text/javascript" src="/JS/detailroom.js"></script>
</body>
</html>
