<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tìm kiếm</title>
</head>
<style>
    .product-image-detail{
        width: 300px;
        height: 200px;
        float: left;
    }
    .test-sm{
        font-weight: 400;
        color: #79d6f9;
    }
    .product{
        padding-top: 50px;
        /*padding-left: 200px;*/
        margin-right: 100px;
    }
    .data-hotel{
        padding: 10px;
        border: 1px solid #eee;
    }
    /*i{
        color: green;
        padding-right: 10px;
    }*/
    .nav-list-gray{
        padding-top: 20px;
    }
    .li-detail{
        line-height: 50px;
    }
    .product-price {
        padding-top: 81px;
    }

    .product-old-price {
        text-decoration: line-through;
        color: gray;
    }

    .product-final-price {
        font-size: 20px;
        color: red;
        font-weight: bold;
    }
</style>
<body>
    <div class="container-fuild" style=" padding-top: 160px;padding-bottom: 70px;">
        <div class="row" >
            <div class="col-md-4" style="margin-bottom: 100px;padding-left: 130px;  padding-top: 50px;">
                <img src="https://cafebiz.cafebizcdn.vn/162123310254002176/2020/10/13/photo-1-16025591019651375947372.jpg" alt="" style="width: 100%;">
                <img src="https://image.winudf.com/v2/image1/dm4ubXl0b3VyLmFwcHMuYW5kcm9pZF9zY3JlZW5fNF8xNTk3MTQ5NzAxXzAwMA/screen-4.jpg?fakeurl=1&type=.jpg" alt="" style="width: 100%; padding-top: 50px;">
            </div>
            <div class="col-md-8">
                <% @hotels.each do |hotel| %>
                    <% 
                        #lấy các rooms thuộc hotel
                        rooms = Room.where('status > 0').where('hotel = ' + hotel.id.to_s)
                        rooms.each do |room|
                            sql = "SELECT sum(amount) as tong from bills WHERE room = " + room.id.to_s + " and checkin_date BETWEEN '" + @daycome + " 14:00:00' AND '" + @dayleave + " 11:00:00' or checkout_date BETWEEN '" + @daycome + " 14:00:00' AND '" + @dayleave + " 11:00:00' and status < 4"
                            bills = Bill.find_by_sql(sql)
                            bills.each do |bill|
                                condition = room.amount.to_i - bill.tong.to_i 
                                if condition > 0 && condition >= @amount.to_i %>
                                <div class="product">
                                    <div class="data-hotel" style="border: 4px solid #CCCCFF;padding: 20px;border-radius: 10px;">
                                            <div class="product-item row">
                                                <div class="col-sm-12">
                                                    <% hotel1 = Hotel.find(room.hotel) %>
                                                    <h3 style="font-weight: 900;color: #79d6f9;"><%= hotel1.name %></h3>
                                                    <p style="font-size: 12px;color: #b4b0af;"><%= hotel1.address %></p>
                                                </div>
                                                <div class="product-infor col-sm-12 d-flex">
                                                    <div class="product-image" style="width: 30%;">
                                                        <a href="/rooms?id=<%= room.id%>" class='btn-more'><img class="product-image-detail" src="/<%= room.image%>" alt=""></a>
                                                    </div>
                                                    <div class="product-name" style="padding-left:80px; width: 50%;">
                                                        <a href="/rooms?id=<%= room.id%>" class='btn-more'><h4 style="font-weight: 700;"><%= room.nameroom%></h4></a>
                                                        <ul style="list-style: none;" class=" nav-list-gray pull-left">
                                                            <li class="li-detail" style="">
                                                                <a mytour-ext="ajax-modal" modal-name="modal-sure-back-money">
                                                                    <i class="fa fa-check-circle green text-sm" style="color: green;padding-right: 10px;"></i> 
                                                                    <% if (room.breakfast <=> '0') == 0 %>
                                                                        Không bao gồm bữa sáng
                                                                    <% else %>
                                                                        Bao gồm bữa sáng
                                                                    <% end %> 
                                                                </a>
                                                            </li>
                                                            <li class="li-detail"><a mytour-ext="ajax-modal" modal-name="modal-sure-good-price"><i class="fa fa-check-circle green text-sm" style="color: green;padding-right: 10px;"></i>  Đảm bảo giá tốt nhất!</a></li>
                                                            <li class="li-detail"><a mytour-ext="ajax-modal" modal-name="modal-sure-good-price"><i class="fa fa-check-circle green text-sm" style="color: green;padding-right: 10px;"></i> <%= room.beds%> </a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="product-price" style="width: 20%">
                                                        <div class="product-old-price">
                                                            <%= room.price%> VNĐ
                                                        </div>
                                                        <div class="product-final-price">
                                                            <%= room.final_price%> VNĐ
                                                        </div>
                                                    </div>
                                                </div> 
                                                <div class="col-sm-12">
                                                    <a style ="float: right;padding: 10px 30px 10px 30px;top:50%;background-color: #79d6f9;text-decoration: none;" href="/booking/<%= room.id %>">Đặt ngay</a>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            <%end%>
                        <% end %>
                    <% end %>
                <% end %>          
            </div>
        </div>
    </div>
</body>
</html>